header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

  .logo {
    font-size: 40px;
    font-weight: bold;
    margin-right: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    a {
      background: linear-gradient(45deg, #8a2be2, #FFD700);
      -webkit-background-clip: text;
      color: transparent;
      text-decoration: none;

      &:hover {
        transform: skewX(-2deg);
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin: 0 10px;

        a {
          text-decoration: none;
          color: #333;
          transition: color 0.3s ease;

          &:hover {
            color: #007BFF;
          }
        }
      }
    }
  }

.search-bar {
  margin: 0 20px;

  input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #FFD700;
      outline: none;
    }
  }

  button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding-bottom: 0;
    margin-bottom: 0;
    top: 20px;
    left: 10%;
    transform: translate(-50%, -50%);

    &:hover {
      opacity: 0.8;
    }

    img {
      position: absolute;
      width: 24px;
      height: 24px;
    }
  }
}



.actions {
    button {
      padding: 5px 15px;
      border: none;
      background-color: #8a2be2;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#8a2be2, 10%);
      }
    }
  }

  .user-info {
  }

  .theme-switcher {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    input[type="checkbox"] {
      cursor: pointer;
    }
  }

