.menu-closed {
  position: absolute;
  left: -300px;
  transition: left 0.5s;
}

.menu-open {
  position: absolute;
  left: 0;
  transition: left 0.5s;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #333;
  padding: 20px;
  z-index: 1000;


  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #777;
    }
  }
}

.tasks, .meals {
  position: absolute;
  top: 40px;
  transform: translateX(-100%);
  max-width: 700px;
  width: 100%;
  height: 310px;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.tasks.active {
  transform: translateX(0);
  left: 260px; // Zmodyfikuj tę wartość w zależności od potrzeb
}

.meals.active {
  transform: translateX(0);
  left: 970px; // Zmodyfikuj tę wartość w zależności od potrzeb
}

